// .dashboard-container {
//   height: calc(100vh - 1vw);
//   display: flex;
//   justify-content: center;
//   align-items: center;
// }

.dashboard-title {
  text-align: center;
  padding-bottom: 20px;
}


.whatsapp-image-container {
  position: fixed;
  bottom: 3vw;
  right: 1vw;
  margin: 0;
  padding: 0;
}

@keyframes zoomInOut {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.08);
  }

  100% {
    transform: scale(1);
  }
}

.whatsapp-image {
  cursor: pointer;
  border-radius: 50%;
  box-shadow: -1px -1px 6px 6px #b5d5bb;
  animation: zoomInOut 1s infinite;
}

.marquee {
  margin: 0 auto;
  white-space: nowrap;
  overflow: hidden;
  position: absolute;
  width: 100%;
}

.marquee h5 {
  display: inline-block;
  padding-left: 100%;
  animation: marquee 10s linear infinite;
}

.marquee2 h5 {
  animation-delay: 2.5s;
}

@keyframes marquee {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(-100%, 0);
  }
}
