.footer-container {
  background-color: #2a674af2;
  color: #FFF;
  // height: 340px;
  height: max-content;
}

.follow-col {
  text-align: center;
}

.company-info-col {
  text-align: justify;
}

.footer-title {
  text-align: center;
  padding: 20px;
}

.copyright {
  padding-top: 20px;
  padding-bottom: 10px;
  margin-bottom: 0PX !important;
  text-align: center;
}

.social-media-1,
.social-media-2 {
  padding-left: 30px;
}