.footer-container {
  background-color: #006769;
  color: #FFF;
  // height: 340px;
  height: max-content;
}

.follow-col {
  text-align: center;
}

.company-info-col {
  text-align: justify;
}

.footer-title {
  text-align: center;
  padding: 20px;
}

.copyright {
  padding-top: 20px;
  padding-bottom: 10px;
  margin-bottom: 0PX !important;
  text-align: center;
}

@media only screen and (max-width: 600px) {
  .policy {
    padding-top: 20px;
    padding-bottom: 20px;
  }
}