.menu-title,
.card-body,
.card-header {
  text-align: center;
}

.card-header,
.card-footer {
  background-color: #006769 !important;
  color: #FFFFFF !important;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 14px;
}

.menu-container {
  margin-top: 30px;
}

.menu-title {
  margin-bottom: 20px;
  color: #FFFFFF;
}

.card-footer {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.menu-row {
  padding-bottom: 20px;
  padding-bottom: 40px;
}

.menu-col {
  padding-bottom: 20px;
}

.add-btn {
  width: 35px;
  border-top-left-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
  color: #006769 !important;
  text-transform: uppercase;
  font-weight: bold !important;
  font-size: 12px !important;
}

.remove-btn {
  width: 35px;
  border-top-right-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
  color: #006769 !important;
  text-transform: uppercase;
  font-weight: bold !important;
  font-size: 12px !important;
}

.count-btn {
  border-radius: 0 !important;
}

.count-btn-input {
  width: 40px;
  border: none;
  background: transparent;
  text-align: center;
  color: #FFFFFF;
  font-weight: bold;
  padding: 0;
  margin: 0;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input:focus {
  outline-style: none;
  box-shadow: none;
}

.add-to-cart {
  height: 38px;
  color: #006769 !important;
  text-transform: uppercase;
  font-weight: bold !important;
  font-size: 12px !important;
}

@media only screen and (max-width: 600px) {
  .card {
    width: 300px;
    margin-left: 30px;
  }
}